<!---------------------- the body html for gallery ---------------------->

<div id="image-gallery" class="image-gallery">

  <div id="gallery-sizer" class="gallery-sizer">
  </div>
  
  {% for picture in include.gallery.pictures %}
  <div class="image-wrapper">
    <div 
      class="item"
      data-src="{{ site.url }}{{ site.baseurl }}/assets/photography/{{ include.gallery.picture_path }}/{{ picture.original }}"
      data-category= 'uncategorized'
      data-responsive="{% for size in picture.sizes %} {{ site.url}}{{ site.baseurl }}/assets/photography/{{ include.gallery.picture_path }}/{{ size }} {{ size | split: '-' | last | split: '.' | first | split: 'x' | first | strip }}{% unless forloop.last %},{% endunless %}{% endfor %}" 
      {% if picture.title %} data-sub-html="<div><h4>{{ picture.title | escape }}</h4>{% if picture.caption %}<p>{{ picture.caption | escape }}</p>{% endif %}</div>"{% endif %}
    >
      <img alt="{{ picture.title }}" src="{{ site.url }}{{ site.baseurl }}/assets/photography/{{ include.gallery.picture_path }}/{{ picture.thumbnail }}" />

    </div>

  </div>
  {% endfor %}

</div>


<!-- {% if picture.category %} data-category="{{ picture.category | escape }}" {% else %} data-category="Uncategorized" {% endif %} -->