/* ============ Original Styles ============ */
.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}


/* ============ Publication/Projects Styles ============ */
.publication {
  display: flex;
  align-items: center;
  margin: 2%; 
}

.pub-image {
  margin-right: 2%;
  margin-top: 0;
  flex: 2;
}

.pub-info {
  margin-top: 0;
  flex: 7;
}

.pub-image img{
  width: 100%; //200x200
  height: auto;
}

.bold-title {
  color: #0e1923;
  font-weight: 650;
  // font-size: large;
}

.bold-light {
 font-weight: 675;
}

.spot-light {
  color: orange; 
  font-weight: 700;
}

.bold-italic {
  font-weight: 700;
  font-style: italic; 
}


/* ============ Gallery Styles ============ */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.image-wrapper,
.gallery-sizer {
  width: 33%;
}

.image-gallery {

  display: block;

  .image-wrapper {
    float: left;
    padding: 3px;

    // hack required if no padding
    .item {
      width: 100.1%;
      width: calc( 100% + 1px );
      height: 100%;
    }
  }
  
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}


/* ============ Google Photography Styles ============ */
.interact-area{
  margin: 4%;
  display: grid;
}


.search-button-group{
  margin-bottom: 2%;
  display: flex;
  /* search-btn */
  .search-btn {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 1;
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 1.5rem;
    font-weight: 650;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .search-btn:hover,
  .search-btn:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  .search-btn:active {
    background: var(--color);
    color: #fff;
  }
}


.filter-button-group{

  display: none;
  margin-top: 2%;

  .choose-btn-wrapper {
    float: left;
    padding: 2px;
    
    .choose-btn {
      margin: 5%;
      align-items: center;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
      box-sizing: border-box;
      color: #121212;
      cursor: pointer;
      display: inline-flex;
      flex: 1 1 auto;
      font-family: Inter,sans-serif;
      font-size: 1rem;
      font-weight: 500;
      justify-content: center;
      line-height: 1;
      margin: 0;
      outline: none;
      padding: 1rem 1.2rem;
      text-align: center;
      text-decoration: none;
      transition: box-shadow .2s,-webkit-box-shadow .2s;
      white-space: nowrap;
      border: 0;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    .choose-btn:hover {
      box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
    }
  }

}


/* ============ Visitor Map ============ */
.visitor-map{
  display: block;
  width: 50%;
}