/* ============ Original Styles ============ */
.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}


/* ============ Publication/Projects Styles ============ */
.publication {
  display: flex;
  align-items: center;
  margin: 2%; 
}

.pub-image {
  margin-right: 2%;
  margin-top: 0;
  flex: 2;
}

.pub-info {
  margin-top: 0;
  flex: 7;
}

.pub-image img{
  width: 100%; //200x200
  height: auto;
}

.bold-title {
  color: #0e1923;
  font-weight: 650;
  // font-size: large;
}

.bold-light {
 font-weight: 675;
}

.spot-light {
  color: orange; 
  font-weight: 700;
}

.bold-italic {
  font-weight: 700;
  font-style: italic; 
}


/* ============ Gallery Styles ============ */

$default-width: 33%;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.image-wrapper,
.gallery-sizer {
  width: $default-width;
}

.image-gallery {

  display: block;

  .image-wrapper {
    float: left;
    padding: 3px;

    // hack required if no padding
    .item {
      width: 100.1%;
      width: calc( 100% + 1px );
      height: 100%;
    }
  }
  
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
