/* ============ Original Styles ============ */
.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}


/* ============ Publication/Projects Styles ============ */
.publication {
  display: flex;
  align-items: center;
  margin: 2%; /* Adjust the margin as per your design */
}

.pub-image img {
  width: 40%; /* Adjust width as needed */
  height: auto;
  margin-right: 1%; /* Space between image and text */
}

.pub-info {
  flex: 1;
}

.pub-info h4 {
  margin-top: 0;
  font-weight: bolder
}

.spot-light {
  color: orange; 
  font-weight: bold;
}

.bold-italic {
  font-weight: bold; 
  font-style: italic; 
}
